BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "leds[0]" SITE "97" ;
LOCATE COMP "leds[1]" SITE "98" ;
LOCATE COMP "leds[2]" SITE "99" ;
LOCATE COMP "leds[3]" SITE "100" ;
LOCATE COMP "leds[4]" SITE "104" ;
LOCATE COMP "leds[5]" SITE "105" ;
LOCATE COMP "leds[6]" SITE "106" ;
USE PRIMARY NET "clk_c" ;
FREQUENCY PORT "clk" 0.001000 MHz HOLD_MARGIN 0.000500 ns ;
LOCATE COMP "leds[7]" SITE "107" ;
IOBUF PORT "leds[0]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "leds[1]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "leds[2]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "leds[3]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "leds[4]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "leds[5]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "leds[6]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "leds[7]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
