BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
SYSCONFIG SLAVE_SPI_PORT=DISABLE ;
BLOCK JTAGPATHS ;
MULTICYCLE FROM CLKNET "clk_byte_hs" TO CLKNET "pixel_clock" 2.000000 X ;
IOBUF PORT "reset_n_i" PULLMODE=UP IO_TYPE=LVCMOS25 ;
FREQUENCY NET "clk_byte_hs" 46.406250 MHz ;
FREQUENCY NET "read_clk" 46.406250 MHz ;
FREQUENCY NET "pixel_clock" 148.500000 MHz ;
LOCATE COMP "reset_n_i" SITE "J4" ;
LOCATE COMP "fv" SITE "J3" ;
LOCATE COMP "lv" SITE "H3" ;
LOCATE COMP "pixdata[0]" SITE "F9" ;
LOCATE COMP "pixdata[1]" SITE "F8" ;
LOCATE COMP "pixdata[2]" SITE "G9" ;
LOCATE COMP "pixdata[3]" SITE "G8" ;
LOCATE COMP "pixdata[4]" SITE "E9" ;
LOCATE COMP "pixdata[5]" SITE "E8" ;
LOCATE COMP "pixdata[6]" SITE "H9" ;
LOCATE COMP "pixdata[7]" SITE "H8" ;
LOCATE COMP "pixdata[8]" SITE "F7" ;
LOCATE COMP "pixdata[9]" SITE "E7" ;
LOCATE COMP "pixel_clk" SITE "J6" ;
MULTICYCLE FROM CLKNET "read_clk" TO CLKNET "pixel_clock" 2.000000 X_SOURCE ;
FREQUENCY PORT "clk_n_i" 185.625000 MHz ;
FREQUENCY PORT "clk_n_i_s" 185.625000 MHz ;
FREQUENCY PORT "clk_p_i_s" 185.625000 MHz ;
FREQUENCY NET "clk_byte_hs_s" 46.406250 MHz ;
FREQUENCY NET "clk_byte_o" 46.406250 MHz ;
FREQUENCY NET "clk_byte_o_s" 46.406250 MHz ;
MULTICYCLE FROM CELL "u_SDR_user_ctrl/line_cntr_569__*" CLKNET "pixel_clock" 2.000000 X_SOURCE ;
MULTICYCLE FROM CELL "u_SDR_user_ctrl/line_cntr_37__*" CLKNET "pixel_clock" 2.000000 X_SOURCE ;
MULTICYCLE FROM CLKNET "pixel_clock" TO CLKNET "read_clk" 2.000000 X ;
MULTICYCLE FROM CELL "u_SDR_user_ctrl/LUT_FIFO/pdp_ram_0_0_2" CLKNET "pixel_clock" 2.000000 X_SOURCE ;